<!doctype html>
<html lang="en">
    <head>
        <title><%= title %> | Omaha School of Ministry</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%- header %>
        <section>
            <h1><%= title %></h1>
            <p><%= description %></p>
            <form>
                <h2>Join the webinar.</h2>
                <div class="row">
                    <div class="form-control">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" name="first-name" required/>
                    </div>
                    <div class="form-control">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" name="last-name" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required/>
                    </div>
                    <div class="form-control">
                        <label for="grade">Current Grade</label>
                        <select id="grade">
                            <option>9th Grade</option>
                            <option>10th Grade</option>
                            <option>11th Grade</option>
                            <option>12th Grade</option>
                            <option>High School Graduate</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="checkbox-control">
                    <input type="radio" id="send-more"/>
                    <label for="send-more">I would like to receive emails about Omaha School of Ministry</label>
                </div>
                <button type="submit">Register for this event</button>
            </form>
        </section>
    </body>
</html>