<aside>
    <nav></nav>
</aside>
<script>
    (() => {
        document.adoptedStyleSheets.push(css`
          aside {
            width: 100%;
            background: #fff;
            border-right: 1px solid #ddd;
          }
        `)
    })();
</script>