* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #fff;
}

section {
  padding: 96px;
  background: #1b1c24;
}

form {
  margin-top: 48px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

.title h1 {
  font-size: 48px;
}

.title h1,
.countdown {
  font-weight: 800;
  -webkit-text-fill-color: #0000;
  background: linear-gradient(249deg, #9dffb1 13.76%, #77b9ff 87.52%);
  background-clip: text;
  -webkit-background-clip: text;
}

.title p {
  font-weight: 700;
  font-size: 14px;
}

img {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 5.5/3.5;
  object-fit: cover;
}

aside {
  background: #20222b;
  padding: 96px 48px;
  position: relative;
}

.header > p,
.description {
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1.7;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

form {
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

form h2 {
  margin-bottom: 12px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12px;
  align-items: start;
}

input:not([type="checkbox"]),
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;
  box-sizing: border-box;
}

.checkbox-control {
  margin: 12px 0;
}

button[type="submit"] {
  padding: 12px 24px;
  font-size: 18px;
  color: #222;
  font-weight: 700;
  appearance: none;
  display: block;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  width: max-content;
}

.person img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.person {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, max-content));
  grid-gap: 8px;
  align-items: center;
}

.person > div p:first-child {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.person > div p:not(:first-child) {
  font-size: 14px;
  color: #ddd;
}

aside .hosts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 96px;
  position: sticky;
  top: 0;
}

aside .hosts h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

aside .share {
  margin-bottom: 150px;
}

aside .share h2 {
  font-weight: 500;
  font-size: 16px;
}

.guests {
  display: block;
  position: absolute;
  top: calc(100vh - 48px);
}

.social-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, max-content));
  grid-gap: 24px;
  font-size: 18px;
  margin-top: 18px;
  opacity: 0.88;
  align-items: center;
}

.social-row a {
  color: #fff;
  text-decoration: none;
}

.meet {
  margin: 32px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  padding-top: 32px;
}

.meet a {
  background: #fff;
  color: #000;
  padding: 12px 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
  width: max-content;
  align-items: center;
  text-decoration: none;
  grid-gap: 12px;
}

.meet a span {
  font-size: 18px;
}

.handouts {
  margin-top: 48px;
}

.handout-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  max-width: 500px;
}

.handout-list a {
  display: grid;
  width: 100%;
  padding: 12px 24px;
  background: #fff;
  border-radius: 8px;
  grid-template-columns: minmax(0, max-content) 1fr;
  grid-gap: 24px;
  align-items: center;
  text-decoration: none;
  color: #0d0d0d;
}

.handout-list a p {
  padding-left: 12px;
  border-left: 1px solid #ccc;
  font-size: 14px;
  display: grid;
  grid-gap: 4px;
}

.handout-list a p span:first-child {
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 57em) {
  body {
    grid-template-columns: 1fr;
  }

  section {
    padding: 32px;
  }

  .row {
    grid-template-columns: 1fr;
  }

  aside .share {
    margin-bottom: 48px;
  }

  .guests {
    position: relative;
    top: 0;
    margin-top: 96px;
  }

  aside {
    padding-bottom: 48px;
  }
}
